$bg-header: #f4f4f4;
$bg-play-black: #0e0e0e96;

$theme-green: #789629;

$color-sunny: #e3ce33;
$color-sea: #88d8da;
$color-rose: #f49ac2;
$color-grapes: #cbd3df;

$white-1: #f1f1f1;
$pure-white: #ffffff;

$brown-1: #6c3c33;

$gray-1: #e7e7e7;
$gray-2: #c2c2c2;
$gray-3: #bababa;
$gray-4: #b4b4b4;
$gray-5: #8a8a8a;
$gray-6: #737373;
$gray-7: #818181;
$gray-8: #6d6d6d;
$gray-9: #5d5d5d;
$gray-10: #464646;

$black-1: #1a1a1a;
$black-2: #131313;
$pure-black: #000000;

$font-thirsty: "Thirsty Script Extrabold Demo";
$font-opensans-reg: "Open Sans";
$font-opensans-italic: "Open Sans Italic";
$font-opensans-bold: "Open Sans Bold";
$font-opensans-light: "Open Sans Light";
$font-utm-viceroyjf: "UTM ViceroyJF";
$font-myriad-pro: "Myriad Pro Reg";
$font-robotoslab-light: "Roboto Slab Light";
$font-roboto-reg: "Roboto Regular";
$font-lobster: "Lobster";
$font-utm-androgyne: "UTM Androgyne";

$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
